* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

img{
    width:20%
}

.slider {
    width: 50%;
    margin: 0 auto;
    background-image: url(./img/01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#up{
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 30px;
    font-weight: bold;
    background-color: rgba(240, 240, 240, 0.5);
    color:#444;
    border-radius: 50%;
    top:0;
}
#down{
    position: absolute;
    width: 30px;
    height: 30px;
    font-size: 30px;
    font-weight: bold;
    background-color: rgba(240, 240, 240, 0.5);
    color:#444;
    border-radius: 50%;
    bottom:60px;
}

#up:hover,#down:hover{
    background-color: rgba(240, 240, 240, 1);
}